<div class="header w-full h-20 bg-light flex items-center justify-between px-12">
  <div class="flex items-center">
    <img src="path/to/your/logo.png" alt="logo" class="w-8 h-8">
    <h4 class=" ml-2">App</h4>
  </div>

  <ul class="flex items-center space-x-4">
    <li> <a href="#" class=" transition duration-300">Home</a></li>
    <li> <a href="#" class=" transition duration-300">Courses</a></li>
    <li> <a href="#" class=" transition duration-300">About Us</a></li>
    <li> <a href="#" class=" transition duration-300">Pricing</a></li>
    <li> <a href="#" class=" transition duration-300">Contact Us</a></li>
  </ul>

  <div class="auth flex items-center">
    <button class=" hover:bg-white hover:text-amber-400 transition duration-300 border border-white px-4 py-2 rounded">Sign up</button>
    <button class=" text-white bg-amber-400 hover:text-white transition duration-300 px-4 py-2 rounded ml-2">Login</button>
  </div>
</div>

