<div class="bg-white97 font-vetnam lg:px-12 md:px-10 sm:px-7 px-4 ">

  <app-navigationbar></app-navigationbar>
  <div class=" p-4 md:p-20 flex md:flex-row flex-col">
    <p class="font-semibold text-3xl lg:text-5xl w-full md:w-1/2">
      About Skillbridge
    </p>

    <p class=" w-full md:w-1/2">Welcome to our platform, where we are passionate about empowering individuals to master the world of design and development. We offer a wide range of online courses designed to equip learners with the skills and knowledge needed to succeed in the ever-evolving digital landscape.</p>
  </div>

  </div>
  <app-footer></app-footer>

