<section class="py-14 flex flex-col space-y-4">
  <span class="font-semibold text-3xl lg:text-4xl">Our Testimonials</span>
  <div class="flex justify-between md:flex-row flex-col md:space-y-0 space-y-3">
    <p class="md:w-3/4 text-grey35 lg:text-lg md:text-base text-sm py-3">
      Lorem ipsum dolor sit amet consectetur. Tempus tincidunt etiam eget elit
      id imperdiet et. Cras eu sit dignissim lorem nibh et. Ac cum eget
      habitasse in velit fringilla feugiat senectus in.
    </p>
    <button
      class="bg-white rounded lg:text-lg md:text-base text-sm font-medium w-fit h-fit py-2 border px-3"
    >
      View All
    </button>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    <app-testimonial-box
      text="The web design course provided a solid foundation for me. The instructors were knowledgeable and supportive, and the interactive learning environment was engaging. I highly recommend it!"
      name="Sarah L"
      image="../../../assets/images/sarah.png"
    />
    <app-testimonial-box
      text="The UI/UX design course exceeded my expectations. The instructor's expertise and practical assignments helped me improve my design skills. I feel more confident in my career now. Thank you!"
      name="Jason M"
      image="../../../assets/images/jason.png"
    />
    <app-testimonial-box
      text="The mobile app development course was fantastic! The step-by-step tutorials and hands-on projects helped me grasp the concepts easily. I'm now building my own app. Great course!"
      name="Emily R"
      image="../../../assets/images/emily.png"
    />
    <app-testimonial-box
      text="I enrolled in the graphic design course as a
    beginner, and it was the perfect starting point. The instructor's guidance
    and feedback improved my design abilities significantly. I'm grateful for
    this course!"
      name="Micheal K"
      image="../../../assets/images/micheal.png"
    />
  </div>
  <img src="../../../assets/images/" alt="" />
</section>
