<div class="benefit w-full py-14">
  <span class="font-semibold text-3xl lg:text-4xl">Our Courses</span>
  <div class="flex justify-between md:flex-row flex-col md:space-y-0 space-y-3">
    <p class="md:w-3/4 text-grey35 lg:text-lg md:text-base text-sm py-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
      reprehenderit, deleniti harum vitae voluptates dolor modi aliquid, eveniet
      amet ipsum tempore! Tempora, velit aperiam vero corrupti rerum labore
      quasi! Harum hic veniam omnis consequuntur expedita nihil praesentium
      maiores. Nostrum, mollitia.
    </p>
    <button
      class="bg-white rounded lg:text-lg md:text-base text-sm font-medium w-fit h-fit py-2 border px-3"
    >
      View All
    </button>
  </div>

  <section class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 py-6 gap-6">
   <div class="border bg-white p-6  rounded shadow">
    <div class="container mx-auto">
      <img src="../../../assets/images/Image.png" alt="" class="w-full  rounded">
      <div class="grid grid-cols-6 gap-4 mt-6">
        <button class="col-span-2 md:col-span-1 col-start-1 border rounded p-2">4 Weeks</button>
        <button class="col-span-2 md:col-span-1 col-start-3 border rounded p-2">Beginner</button>
        <div class="col-span-6 md:col-span-4 flex flex-col md:flex-row justify-end">
            <p class="font-bold">By Harmedino</p>
        </div>
    </div>
    <div class="mt-6">

    <p class="font-bold text-xl ">Web Design Fundamentals</p>

    <p class="font-medium font-normal">Learn the fundamentals of web design, including HTML, CSS, and responsive design principles. Develop the skills to create visually appealing and user-friendly websites.</p>

    <button class="w-full py-3 rounded bg-white97 text-normal font-medium"> Get it Now</button>
  </div>

    </div>

   </div>
   <div class="border bg-white p-6  rounded shadow">
    <div class="container mx-auto">
      <img src="../../../assets/images/Image (1).png" alt="" class="w-full  rounded">

      <div class="grid grid-cols-6 gap-4 mt-6">
        <button class="col-span-2 md:col-span-1 col-start-1 border rounded p-2">4 Weeks</button>
        <button class="col-span-2 md:col-span-1 col-start-3 border rounded p-2">Beginner</button>
        <div class="col-span-6 md:col-span-4 flex flex-col md:flex-row justify-end">
          <p class=" font-bold ">By Emily Johnson</p>
        </div>
      </div>
      <div class="mt-6">

        <p class="font-bold text-xl ">UI/UX Design</p>
        <p class="font-medium font-normal">Master the art of creating intuitive user interfaces (UI) and enhancing user experiences (UX). Learn design principles, wireframing, prototyping, and usability testing techniques.</p>

    <button class="w-full py-3 rounded bg-white97 text-normal font-medium"> Get it Now</button>
      </div>
    </div>

   </div>
   <div class="border bg-white p-6  rounded shadow">
    <div class="container mx-auto">
      <img src="../../../assets/images/Image (2).png" alt="" class="w-full  rounded">

      <div class="grid grid-cols-6 gap-4 mt-6">
        <button class="col-span-2 md:col-span-1 col-start-1 border rounded p-2">4 Weeks</button>
        <button class="col-span-2 md:col-span-1 col-start-3 border rounded p-2">Beginner</button>
        <div class="col-span-6 md:col-span-4 flex flex-col md:flex-row justify-end">
          <p class=" font-bold  ">By David Brown</p>
        </div>
      </div>

      <div class="mt-6">

        <p class="font-bold text-xl ">Mobile App Development</p>
        <p class="font-medium font-normal">Dive into the world of mobile app development. Learn to build native iOS and Android applications using industry-leading frameworks like Swift and Kotlin.</p>

    <button class="w-full py-3 rounded bg-white97 text-normal font-medium"> Get it Now</button>
      </div>
    </div>

   </div>
   <div class="border bg-white p-6  rounded shadow">
    <div class="container mx-auto">
      <img src="../../../assets/images/Image (3).png" alt="" class="w-full  rounded">

      <div class="grid grid-cols-6 gap-4 mt-6">
        <button class="col-span-2 md:col-span-1 col-start-1 border rounded p-2">4 Weeks</button>
        <button class="col-span-2 md:col-span-1 col-start-3 border rounded p-2">Beginner</button>
        <div class="col-span-6 md:col-span-4 flex flex-col md:flex-row justify-end">
            <p class="font-bold">By Sarah Thompson</p>
        </div>
    </div>

    <div class="mt-6">

      <p class="font-bold text-xl ">Graphic Design for Beginners</p>
      <p class="font-medium font-normal">Discover the fundamentals of graphic design, including typography, color theory, layout design, and image manipulation techniques. Create visually stunning designs for print and digital media.</p>

    <button class="w-full py-3 rounded bg-white97 text-normal font-medium"> Get it Now</button>
    </div>

    </div>

   </div>
   <div class="border bg-white p-6  rounded shadow">
    <div class="container mx-auto">
      <img src="../../../assets/images/Image (4).png" alt="" class="w-full  rounded">

      <div class="grid grid-cols-6 gap-4 mt-6">
        <button class=" col-span-2 md:col-span-1 col-start-1 border rounded p-2">4 Weeks</button>
        <button class="col-span-2 md:col-span-1 col-start-3 border rounded p-2">Beginner</button>
        <div class="col-span-6 md:col-span-4 flex flex-col md:flex-row justify-end ">
          <p class=" font-bold ">By Michael Adams</p>
        </div>
      </div>

      <div class="mt-6">

        <p class="font-bold text-xl ">Front-End Web Development</p>
        <p class="font-medium font-normal">Become proficient in front-end web development. Learn HTML, CSS, JavaScript, and popular frameworks like Bootstrap and React. Build interactive and responsive websites.</p>

    <button class="w-full py-3 rounded bg-white97 text-normal font-medium"> Get it Now</button>
      </div>
    </div>

   </div>
   <div class="border bg-white p-6  rounded shadow">
    <div class="container mx-auto">
      <img src="../../../assets/images/Image (5).png" alt="" class="w-full  rounded">

      <div class="grid grid-cols-6 gap-4 mt-6">
        <button class=" col-span-2 md:col-span-1 col-start-1 border rounded p-2">4 Weeks</button>
        <button class="col-span-2 md:col-span-1 col-start-3 border rounded p-2">Beginner</button>
        <div class="col-span-6 md:col-span-4 flex flex-col md:flex-row justify-end ">
          <p class=" font-bold  ">By Jennifer Wilson</p>
        </div>
      </div>
    </div>

    <div class="mt-6">

      <p class="font-bold text-xl ">Advanced JavaScript</p>
      <p class="font-medium font-normal">Take your JavaScript skills to the next level. Explore advanced concepts like closures, prototypes, asynchronous programming, and ES6 features. Build complex applications with confidence.</p>

    <button class="w-full py-3 rounded bg-white97 text-normal font-medium"> Get it Now</button>
    </div>

   </div>
  </section>

  </div>

