<div class="benefit w-full py-14">
  <span class="font-semibold text-3xl lg:text-4xl">Our Courses</span>
  <div class="flex justify-between md:flex-row flex-col md:space-y-0 space-y-3">
    <p class="md:w-3/4 text-grey35 lg:text-lg md:text-base text-sm py-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
      reprehenderit, deleniti harum vitae voluptates dolor modi aliquid, eveniet
      amet ipsum tempore! Tempora, velit aperiam vero corrupti rerum labore
      quasi! Harum hic veniam omnis consequuntur expedita nihil praesentium
      maiores. Nostrum, mollitia.
    </p>
    <button
      class="bg-white rounded lg:text-lg md:text-base text-sm font-medium w-fit h-fit py-2 border px-3"
    >
      View All
    </button>
  </div>

  <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-2 py-6 gap-3">
   <div class="border w-1/2 bg-white">
    hello
   </div>
   <div class="border w-1/2 bg-white">
    helo
   </div>
   <div class="border w-1/2 bg-white"></div>
   <div class="border w-1/2 bg-white"></div>
   <div class="border w-1/2 bg-white"></div>
  </section>

  </div>

