<div class="benefit w-full py-14 space-y-8">
  <span class="font-semibold text-3xl  lg:text-4xl"  *ngIf="currentRoute !=='pricing'">Our Pricing</span>
  <div class="flex justify-between md:flex-row flex-col md:space-y-0 space-y-3">
    <p class="md:w-3/4 text-grey35 lg:text-lg md:text-base text-sm py-3" *ngIf="currentRoute !=='pricing'">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
      reprehenderit, deleniti harum vitae voluptates dolor modi aliquid, eveniet
      amet ipsum tempore! Tempora, velit aperiam vero corrupti rerum labore
      quasi! Harum hic veniam omnis consequuntur expedita nihil praesentium
      maiores. Nostrum, mollitia.
    </p>
    <div
      class="md:w-1/6 mx-auto md:flex md:items-center md:justify-around bg-white rounded-lg p-4 md:h-20 h-16 w-44"
    >
      <button
        class="rounded text-sm font-medium p-2 pointer"
        [ngStyle]="{
          backgroundColor: activeTab === 'monthly' ? '#FF9500' : 'white',
          color: activeTab === 'monthly' ? 'white' : 'black'
        }"
        (click)="setActiveTab('monthly')"
      >
        Monthly
      </button>
      <button
        class="rounded text-sm font-medium p-2 pointer"
        [ngStyle]="{
          backgroundColor: activeTab === 'yearly' ? '#FF9500' : 'white',
          color: activeTab === 'yearly' ? 'white' : 'black'
        }"
        (click)="setActiveTab('yearly')"
      >
        Yearly
      </button>
    </div>
  </div>

  <section *ngIf="activeTab === 'monthly'">
    <div class="container border bg-white p-6 rounded shadow">
      <div class="container md:flex justify-around items-center">
        <div
          class="h-auto border shadow-md w-full md:w-[48%] bg-white97 rounded-xl space-y-3 py-8 flex flex-col items-center mt-4"
        >
          <div class="grid gap-y-12">
            <button
              class="py-2 px-20 rounded w-full border text-base md:text-lg lg:text-xl xl:text-2xl font-medium border-red-400 bg-planred font-vetnam"
            >
              Free Plan
            </button>

            <h2 class="font-semibold text-3xl flex flex-col items-center">
              <span
                class="text-lg md:text-3xl lg:text-4xl xl:text-5xl font-vetnam"
                >0$</span
              >
              <span class="text-normal font-base">/month</span>
            </h2>
          </div>
          <div class="md:w-4/5 w-11/12 bg-white rounded-xl h-auto mx-auto py-4">
            <p class="font-bold font-vetnam text-lg text-center">
              Available Features
            </p>

            <ul class="px-7 space-y-5">
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Access to selected free courses.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Limited course materials and resources.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Basic community support.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                No certification upon completion.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Ad-supported platform.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      d="M5.02426 4.17574C4.78995 3.94142 4.41005 3.94142 4.17574 4.17574C3.94142 4.41005 3.94142 4.78995 4.17574 5.02426L7.15147 8L4.17574 10.9757C3.94142 11.2101 3.94142 11.59 4.17574 11.8243C4.41005 12.0586 4.78995 12.0586 5.02426 11.8243L8 8.84853L10.9757 11.8243C11.2101 12.0586 11.59 12.0586 11.8243 11.8243C12.0586 11.59 12.0586 11.2101 11.8243 10.9757L8.84853 8L11.8243 5.02426C12.0586 4.78995 12.0586 4.41005 11.8243 4.17574C11.59 3.94142 11.2101 3.94142 10.9757 4.17574L8 7.15147L5.02426 4.17574Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Access to exclusive Pro Plan community forums.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      d="M5.02426 4.17574C4.78995 3.94142 4.41005 3.94142 4.17574 4.17574C3.94142 4.41005 3.94142 4.78995 4.17574 5.02426L7.15147 8L4.17574 10.9757C3.94142 11.2101 3.94142 11.59 4.17574 11.8243C4.41005 12.0586 4.78995 12.0586 5.02426 11.8243L8 8.84853L10.9757 11.8243C11.2101 12.0586 11.59 12.0586 11.8243 11.8243C12.0586 11.59 12.0586 11.2101 11.8243 10.9757L8.84853 8L11.8243 5.02426C12.0586 4.78995 12.0586 4.41005 11.8243 4.17574C11.59 3.94142 11.2101 3.94142 10.9757 4.17574L8 7.15147L5.02426 4.17574Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Early access to new courses and updates.
              </li>
            </ul>

            <button class="w-full bg-ornge50 text-white py-3 rounded mt-7">
              Get Started
            </button>
          </div>
        </div>
        <div
          class="h-auto border shadow-md w-full md:w-[48%] bg-white97 rounded-xl space-y-3 py-8 flex flex-col items-center mt-4"
        >
          <div class="grid gap-12">
            <button
              class="py-2 px-20 rounded w-full border text-base md:text-lg lg:text-xl xl:text-2xl font-medium border-red-400 bg-planred font-vetnam"
            >
              Pro Plan
            </button>

            <h2 class="font-semibold text-3xl flex flex-col items-center ">
              <span
                class="text-lg md:text-3xl lg:text-4xl xl:text-5xl font-vetnam"
                >79$</span
              >
              <span class="text-normal font-base">/month</span>
            </h2>
          </div>
          <div class="md:w-4/5 w-11/12 bg-white rounded-xl h-auto mx-auto py-4">
            <p class="font-bold font-vetnam text-lg text-center">
              Available Features
            </p>

            <ul class="px-7 space-y-5">
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Unlimited access to all courses.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Unlimited course materials and resources.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Priority support from instructors.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Course completion certificates.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="17"
                    height="16"
                    viewBox="0 0 17 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.864 3.32297C14.1276 3.52379 14.1785 3.90027 13.9777 4.16385L7.57765 12.5639C7.47272 12.7016 7.31341 12.7873 7.14066 12.7989C6.96791 12.8105 6.79856 12.7469 6.67613 12.6245L3.07613 9.02449C2.84181 8.79018 2.84181 8.41028 3.07613 8.17596C3.31044 7.94165 3.69034 7.94165 3.92465 8.17596L7.0392 11.2905L13.0231 3.4366C13.224 3.17302 13.6004 3.12214 13.864 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Ad-free experience.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="17"
                    height="16"
                    viewBox="0 0 17 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.864 3.32297C14.1276 3.52379 14.1785 3.90027 13.9777 4.16385L7.57765 12.5639C7.47272 12.7016 7.31341 12.7873 7.14066 12.7989C6.96791 12.8105 6.79856 12.7469 6.67613 12.6245L3.07613 9.02449C2.84181 8.79018 2.84181 8.41028 3.07613 8.17596C3.31044 7.94165 3.69034 7.94165 3.92465 8.17596L7.0392 11.2905L13.0231 3.4366C13.224 3.17302 13.6004 3.12214 13.864 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Access to exclusive Pro Plan community forums.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="17"
                    height="16"
                    viewBox="0 0 17 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.864 3.32297C14.1276 3.52379 14.1785 3.90027 13.9777 4.16385L7.57765 12.5639C7.47272 12.7016 7.31341 12.7873 7.14066 12.7989C6.96791 12.8105 6.79856 12.7469 6.67613 12.6245L3.07613 9.02449C2.84181 8.79018 2.84181 8.41028 3.07613 8.17596C3.31044 7.94165 3.69034 7.94165 3.92465 8.17596L7.0392 11.2905L13.0231 3.4366C13.224 3.17302 13.6004 3.12214 13.864 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Early access to new courses and updates.
              </li>
            </ul>

            <button class="w-full bg-ornge50 text-white py-3 rounded mt-7">
              Get Started
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section *ngIf="activeTab === 'yearly'">
    <div class="container border bg-white p-6 rounded shadow">
      <div class="container md:flex justify-around items-center ">
        <div
          class="h-auto border shadow-md  w-full md:w-[48%] bg-white97 rounded-xl space-y-3 py-8 flex flex-col items-center mt-4"
        >
          <div class="grid gap-y-12">
            <button
              class="py-2 px-20 rounded w-full border text-base md:text-lg lg:text-xl xl:text-2xl  font-medium border-red-400 bg-planred font-vetnam"
            >
              Free Plan
            </button>

            <h2 class="font-semibold text-3xl flex flex-col items-center">
              <span
                class="text-lg md:text-3xl lg:text-4xl xl:text-5xl font-vetnam"
                >0$</span
              >
              <span class="text-normal font-base">/year</span>
            </h2>
          </div>
          <div class="md:w-4/5 w-11/12 bg-white rounded-xl h-auto mx-auto py-4">
            <p class="font-bold font-vetnam text-lg text-center">
              Available Features
            </p>

            <ul class="px-7 space-y-5">
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Access to selected free courses.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Limited course materials and resources.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Basic community support.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                No certification upon completion.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Ad-supported platform.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      d="M5.02426 4.17574C4.78995 3.94142 4.41005 3.94142 4.17574 4.17574C3.94142 4.41005 3.94142 4.78995 4.17574 5.02426L7.15147 8L4.17574 10.9757C3.94142 11.2101 3.94142 11.59 4.17574 11.8243C4.41005 12.0586 4.78995 12.0586 5.02426 11.8243L8 8.84853L10.9757 11.8243C11.2101 12.0586 11.59 12.0586 11.8243 11.8243C12.0586 11.59 12.0586 11.2101 11.8243 10.9757L8.84853 8L11.8243 5.02426C12.0586 4.78995 12.0586 4.41005 11.8243 4.17574C11.59 3.94142 11.2101 3.94142 10.9757 4.17574L8 7.15147L5.02426 4.17574Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Access to exclusive Pro Plan community forums.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      d="M5.02426 4.17574C4.78995 3.94142 4.41005 3.94142 4.17574 4.17574C3.94142 4.41005 3.94142 4.78995 4.17574 5.02426L7.15147 8L4.17574 10.9757C3.94142 11.2101 3.94142 11.59 4.17574 11.8243C4.41005 12.0586 4.78995 12.0586 5.02426 11.8243L8 8.84853L10.9757 11.8243C11.2101 12.0586 11.59 12.0586 11.8243 11.8243C12.0586 11.59 12.0586 11.2101 11.8243 10.9757L8.84853 8L11.8243 5.02426C12.0586 4.78995 12.0586 4.41005 11.8243 4.17574C11.59 3.94142 11.2101 3.94142 10.9757 4.17574L8 7.15147L5.02426 4.17574Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Early access to new courses and updates.
              </li>
            </ul>

            <button class="w-full bg-ornge50 text-white py-3 rounded mt-7">
              Get Started
            </button>
          </div>
        </div>
        <div
          class="h-auto border shadow-md w-full md:w-[48%] bg-white97 rounded-xl space-y-3 py-8 flex flex-col items-center mt-4"
        >
          <div class="grid gap-12">
            <button
              class="py-2 px-20 rounded w-full border text-base md:text-lg lg:text-xl xl:text-2xl font-medium border-red-400 bg-planred font-vetnam"
            >
              Pro Plan
            </button>

            <h2 class="font-semibold text-3xl flex flex-col items-center">
              <span
                class="text-lg md:text-3xl lg:text-4xl xl:text-5xl font-vetnam"
                >79$</span
              >
              <span class="text-normal font-base">/year</span>
            </h2>
          </div>
          <div class="md:w-4/5 w-11/12 bg-white rounded-xl h-auto mx-auto py-4">
            <p class="font-bold font-vetnam text-lg text-center">
              Available Features
            </p>

            <ul class="px-7 space-y-5">
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Unlimited access to all courses.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Unlimited course materials and resources.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Priority support from instructors.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Course completion certificates.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="17"
                    height="16"
                    viewBox="0 0 17 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.864 3.32297C14.1276 3.52379 14.1785 3.90027 13.9777 4.16385L7.57765 12.5639C7.47272 12.7016 7.31341 12.7873 7.14066 12.7989C6.96791 12.8105 6.79856 12.7469 6.67613 12.6245L3.07613 9.02449C2.84181 8.79018 2.84181 8.41028 3.07613 8.17596C3.31044 7.94165 3.69034 7.94165 3.92465 8.17596L7.0392 11.2905L13.0231 3.4366C13.224 3.17302 13.6004 3.12214 13.864 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Ad-free experience.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="17"
                    height="16"
                    viewBox="0 0 17 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.864 3.32297C14.1276 3.52379 14.1785 3.90027 13.9777 4.16385L7.57765 12.5639C7.47272 12.7016 7.31341 12.7873 7.14066 12.7989C6.96791 12.8105 6.79856 12.7469 6.67613 12.6245L3.07613 9.02449C2.84181 8.79018 2.84181 8.41028 3.07613 8.17596C3.31044 7.94165 3.69034 7.94165 3.92465 8.17596L7.0392 11.2905L13.0231 3.4366C13.224 3.17302 13.6004 3.12214 13.864 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Access to exclusive Pro Plan community forums.
              </li>
              <li
                class="flex items-center justify-start w-full border rounded p-3"
              >
                <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-4 bg-Orange-95"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="17"
                    height="16"
                    viewBox="0 0 17 16"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.864 3.32297C14.1276 3.52379 14.1785 3.90027 13.9777 4.16385L7.57765 12.5639C7.47272 12.7016 7.31341 12.7873 7.14066 12.7989C6.96791 12.8105 6.79856 12.7469 6.67613 12.6245L3.07613 9.02449C2.84181 8.79018 2.84181 8.41028 3.07613 8.17596C3.31044 7.94165 3.69034 7.94165 3.92465 8.17596L7.0392 11.2905L13.0231 3.4366C13.224 3.17302 13.6004 3.12214 13.864 3.32297Z"
                      fill="#262626"
                    />
                  </svg>
                </span>

                Early access to new courses and updates.
              </li>
            </ul>

            <button class="w-full bg-ornge50 text-white py-3 rounded mt-7">
              Get Started
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="bg-white flex flex-col md:flex-row items-center justify-around p-6 md:p-20 lg:p-24">

    <div class="md:w-3/12 w-full">
      <p class="text-3xl font-semibold">Frequently Asked Questions</p>
      <p>Still you have any questions? Contact our Team via support&#64;skillbridge.com</p>
      <br><br>
      <button class="border rounded py-4 px-6">
        See All FAQ’s
      </button>
    </div>
    <div  class="md:w-3/5 w-full  space-y-10">

      <div class="space-y-3 border rounded-lg py-8 px-12">
        <div class="flex items-center justify-between">
          <p>Can I enroll in multiple courses at once?</p>
          <div>
            <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-lg bg-Orange-95"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                  <path d="M7.88399 20.1164L14.0004 14M20.1168 7.88359L14.0004 14M14.0004 14L7.88399 7.88359M14.0004 14L20.1168 20.1164" stroke="#262626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </span>
          </div>
        </div>
        <hr>
        <p class="">Absolutely! You can enroll in multiple courses simultaneously and access them at your convenience.</p>

      </div>
      <div class="border rounded-lg p-6 md:px-12 md:py-8 flex items-center justify-between">
        <p class="pr-1">What kind of support can I expect from instructors?</p>
        <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-lg bg-Orange-95"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                  <path d="M7 14H14M21 14H14M14 14V7M14 14V21" stroke="#262626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </span>

      </div>
      <div class="border rounded-lg p-6 md:px-12 md:py-8 flex items-center justify-between">
        <p class="pr-1">Are the courses self-paced or do they have specific start and end dates?</p>
        <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-lg bg-Orange-95"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                  <path d="M7 14H14M21 14H14M14 14V7M14 14V21" stroke="#262626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </span>

      </div>
      <div class="border rounded-lg p-6 md:px-12 md:py-8 flex items-center justify-between">
        <p class="pr-1">Are there any prerequisites for the courses?</p>
        <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-lg bg-Orange-95"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                  <path d="M7 14H14M21 14H14M14 14V7M14 14V21" stroke="#262626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </span>

      </div>
      <div class="border rounded-lg p-6 md:px-12 md:py-8 flex items-center justify-between">
        <p class="pr-1">Can I download the course materials for offline access?</p>
        <span
                  class="inline-block mr-2 bg-svgbg p-1 items-start gap-10 rounded-lg bg-Orange-95"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                  <path d="M7 14H14M21 14H14M14 14V7M14 14V21" stroke="#262626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </span>

      </div>
    </div>

  </section>
</div>
