<div class="w-full h-60 font-vetnam">
  <div class="w-full">
    <div class="w-full h-fit mx-auto">
      <div
        class="bg-white w-fit mx-auto font-vetnam rounded-lg flex items-center justify-center px-2 py-2"
      >
        <div class="rounded-lg flex items-center">
          <img
            src="../../../assets/images/IconCont.png"
            alt="icon"
            class="w-3/4"
          />
        </div>
        <div
          class="font-medium text-base sm:text-3xl md:text-4xl lg:text-5xl py-1"
        >
          <span class="text-ornge50">Unlock</span> Your Creative Potential
        </div>
      </div>
      <div class="mt-6 text-2xl text-grey15">
        <h1
          class="text-center sm:text-3xl md:text-4xl font-medium px-4 md:px-0"
        >
          with Online Design and Development Courses.
        </h1>
        <p
          class="text-center -mt-12 px-4 md:p-0 text-sm sm:text-base md:text-lg font-normal"
        >
          Learn from Industry Experts and Enhance Your Skills.
        </p>
      </div>
      <div class="flex justify-center mt-6">
        <button class="bg-ornge50 text-white rounded px-4 py-2 mr-4">
          Explore Courses
        </button>
        <button class="bg-white rounded border px-4 py-2">View Pricing</button>
      </div>
    </div>
  </div>
</div>
<div
  class="bg-white rounded-lg container mx-auto px-6 flex items-center justify-around shadow mt-12 sm:mt-6 space-x-4"
>
  <div class="h-20 flex items-center">
    <img src="../../../assets/images/Vector (1).png" alt="" class="w-full" />
  </div>
  <div class="h-20 flex items-center">
    <img src="../../../assets/images/Vector (2).png" alt="" class="w-full" />
  </div>
  <div class="h-20 flex items-center">
    <img src="../../../assets/images/Vector (3).png" alt="" class="w-full" />
  </div>
  <div class="h-20 flex items-center hidden md:inline-block">
    <img src="../../../assets/images/Card2.png" alt="" class="w-44" />
  </div>
  <div class="h-20 flex items-center hidden md:inline-block">
    <img src="../../../assets/images/Card.png" alt="" class="w-44" />
  </div>
  <div class="h-20 flex items-center">
    <img src="../../../assets/images/Vector10.png" alt="" class="w-full" />
  </div>
  <div class="h-20 flex items-center">
    <img src="../../../assets/images/Vector (9).png" alt="" class="w-full" />
  </div>
</div>

<div class="container mt-12 mx-auto h-2/4">
  <img src="../../../assets/images/Container.png" alt="" />
</div>

<div class="benefit w-full py-14">
  <span class="font-semibold text-3xl lg:text-4xl">Benefits</span>
  <div class="flex justify-between md:flex-row flex-col md:space-y-0 space-y-3">
    <p class="md:w-3/4 text-grey35 lg:text-lg md:text-base text-sm py-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
      reprehenderit, deleniti harum vitae voluptates dolor modi aliquid, eveniet
      amet ipsum tempore! Tempora, velit aperiam vero corrupti rerum labore
      quasi! Harum hic veniam omnis consequuntur expedita nihil praesentium
      maiores. Nostrum, mollitia.
    </p>
    <button
      class="bg-white rounded lg:text-lg md:text-base text-sm font-medium w-fit h-fit py-2 border px-3"
    >
      View All
    </button>
  </div>
  <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 py-6 gap-3">
    <app-benefit-box
      number="01"
      title="Flexible Learning Schedule"
      text="Fit your coursework around your existing commitments and obligations."
    ></app-benefit-box>
    <app-benefit-box
      number="02"
      title="Expert Instruction"
      text="Learn from industry experts who have hands-on experience in design and development."
    ></app-benefit-box>
    <app-benefit-box
      number="03"
      title="Diverse Course Offering"
      text="Explore a wide range of design and development courses covering various topics."
    ></app-benefit-box>
    <app-benefit-box
      number="04"
      title="Updated Curriculum"
      text="Access courses with up-to-date content reflecting the latest trends and industry practices."
    ></app-benefit-box>
    <app-benefit-box
      number="05"
      title="Practical Projects and Assignment"
      text="Develop a portfolio showcasing your skills and abilities to potential employers."
    ></app-benefit-box>
    <app-benefit-box
      number="06"
      title="Interactive Learning environment"
      text="Collaborate with fellow learners, exchanging ideas and feedback to enhance your understanding."
    ></app-benefit-box>
  </section>
</div>
