<div class="flex flex-col rounded-lg bg-white px-7 py-7 pb-24 relative">
  <p class="text-grey30 pb-6 text-sm md:text-base lg:text-lg">
    {{ text }}
  </p>
  <div
    class="bg-white99 flex absolute left-0 rounded-b-lg bottom-0 w-full items-center justify-between p-7"
  >
    <div class="flex items-center space-x-3">
      <img src="{{ image }}" alt="w-5 sm:w-8" />
      <span class="font-semibold text-grey20 lg:text-lg md:text-base text-sm">{{
        name
      }}</span>
    </div>
    <button
      class="sm:p-3 p-2 bg-white97 border border-white95 rounded-sm text-grey15"
    >
      Read Full Story
    </button>
  </div>
</div>
